@media screen and (max-width: 1920px) {
    /* מנועים */
    #btd1 {
        left: 19vw;
        top: 53vh;
    }
    /* פרופלור */
    #btd2 {
        left: 67vw;
        top: 56vh;
    }
    /* led */
    #btd3 {
        left: 78vw;
        top: 64vh;
    }
    /* חיישנים */
    #btd4 {
        left: 21vw;
        top: 71vh;
    }
    /* מצלמה */
    #btd5 {
        left: 44vw;
        top: 68vh;
    }
    /* עיגולים */
    #btd6 {
        left: 54.5vw;
        top: 54%;
    }
    /* עיגול למעלה */
    #btd7 {
        left: 49vw;
        top: 35vh;
    }
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 25vh;
    }
    .custom-btn {
        top: 84vh;
    }
}

@media screen and (max-width: 1790px) {
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 26vh;
    }
    /* אנטנות */
    #btc1 {
        left: 8vw;
        top: -39vh;
    }
    /* כפתור חזרה הביתה */
    #btc6 {
        left: -14vw;
        top: -12vh;
    }
    /* צד */
    #btc7 {
        left: -18vw;
        top: -9vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 49vw;
        top: 76vh;
    }
}

@media screen and (max-width: 1650px) {
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 28vh;
    }
    /* מצלמה */
    #btd5 {
        left: 46vw;
        top: 67vh;
    }
    /* עיגול למעלה */
    #btd7 {
        left: 49vw;
        top: 36vh;
    }
    /* מחזיק טאבלט */
    #btc8 {
        left: -20vw;
        top: 27vh;
    }
    /* כפתור הדלקה */
    #btc2 {
        left: 13vw;
        top: -11vh;
    }
    /* אנטנות */
    #btc1 {
        left: 8vw;
        top: -36vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 49vw;
        top: 74vh;
    }
}

@media screen and (max-width: 1500px) {
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 29vh;
    }
    /* מצלמה */
    #btd5 {
        left: 46vw;
        top: 66vh;
    }
    /* חיישנים */
    #btd4 {
        left: 21vw;
        top: 66vh;
    }
    /* עיגול למעלה */
    #btd7 {
        left: 49vw;
        top: 38vh;
    }
    /* מחזיק טאבלט */
    #btc8 {
        left: -20vw;
        top: 23vh;
    }
    /* אנטנות */
    #btc1 {
        left: 8vw;
        top: -32vh;
    }
    /* כפתור חזרה הביתה */
    #btc6 {
        left: -14vw;
        top: -11vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 49vw;
        top: 71vh;
    }
    .custom-btn {
        top: 80vh;
    }
    #next {
        top: 80vh;
    }
}

@media screen and (max-width: 1400px) {
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 30vh;
    }
    /* מצלמה */
    #btd5 {
        left: 46vw;
        top: 65vh;
    }
    /* led */
    #btd3 {
        left: 77vw;
        top: 60vh;
    }
    /* כפתור חזרה הביתה */
    #btc6 {
        left: -14vw;
        top: -10vh;
    }
    /* כפתור הדלקה */
    #btc2 {
        left: 13vw;
        top: -10vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 49vw;
        top: 68vh;
    }
    .custom-btn {
        top: 75vh;
    }
    #next {
        top: 75vh;
    }
}

@media screen and (max-width: 1300px) {
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 31vh;
    }
    /* מצלמה */
    #btd5 {
        left: 46vw;
        top: 63vh;
    }
    /* אנטנות */
    #btc1 {
        left: 8vw;
        top: -30vh;
    }
    /* כפתור שחור */
    #btc4 {
        position: absolute;
        left: 4vw;
        top: -4vh;
    }
    /* צד */
    #btc7 {
        left: -18vw;
        top: -6vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 48vw;
        top: 67vh;
    }
}

@media screen and (max-width: 1270px) {
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 33vh;
    }
    /* מצלמה */
    #btd5 {
        left: 45vw;
        top: 63vh;
    }
    /* מנועים */
    #btd1 {
        left: 19vw;
        top: 52vh;
    }
    /* פרופלור */
    #btd2 {
        left: 67vw;
        top: 54vh;
    }
    /* led */
    #btd3 {
        left: 77vw;
        top: 58vh;
    }
    /* חיישנים */
    #btd4 {
        left: 21vw;
        top: 65vh;
    }
    /* מחזיק טאבלט */
    #btc8 {
        left: -20vw;
        top: 20vh;
    }
    /* מסך */
    #btc9 {
        position: absolute;
        left: 0vw;
        top: 0vh;
    }
}

@media screen and (max-width: 1180px) {
    /* מצלמה */
    #btd5 {
        left: 45vw;
        top: 61vh;
    }
    /* led */
    #btd3 {
        left: 77vw;
        top: 57vh;
    }
    /* חיישנים */
    #btd4 {
        left: 21vw;
        top: 63vh;
    }
    /* עיגולים */
    #btd6 {
        left: 54.5vw;
        top: 53%;
    }
    /* עיגול למעלה */
    #btd7 {
        left: 49vw;
        top: 39vh;
    }
    /* אנטנות */
    #btc1 {
        left: 8vw;
        top: -27vh;
    }
    /* כפתור חזרה הביתה */
    #btc6 {
        left: -14vw;
        top: -9vh;
    }
    /* כפתור הדלקה */
    #btc2 {
        left: 13vw;
        top: -9vh;
    }
    /* מחזיק טאבלט */
    #btc8 {
        left: -20vw;
        top: 17vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 48vw;
        top: 65vh;
    }
}

@media screen and (max-width: 1050px) {
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 34vh;
    }
    /* פרופלור */
    #btd2 {
        left: 67vw;
        top: 53vh;
    }
    /* מנועים */
    #btd1 {
        left: 19vw;
        top: 50vh;
    }
    /* מצלמה */
    #btd5 {
        left: 45vw;
        top: 57vh;
    }
    /* led */
    #btd3 {
        left: 77vw;
        top: 54vh;
    }
    /* חיישנים */
    #btd4 {
        left: 20vw;
        top: 58vh;
    }
    /* עיגולים */
    #btd6 {
        left: 54.5vw;
        top: 50%;
    }
    /* עיגול למעלה */
    #btd7 {
        left: 49vw;
        top: 40vh;
    }
    /* אנטנות */
    #btc1 {
        left: 8vw;
        top: -24vh;
    }
    /* כפתור חזרה הביתה */
    #btc6 {
        left: -14vw;
        top: -8vh;
    }
    /* כפתור הדלקה */
    #btc2 {
        left: 13vw;
        top: -8vh;
    }
    /* גויסטיק */
    #btc3 {
        position: absolute;
        left: 12vw;
        top: -4vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 48vw;
        top: 63vh;
    }
    .custom-btn {
        top: 70vh;
    }
    #next {
        top: 72vh;
    }
}

@media screen and (max-width: 940px) {
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 35vh;
    }
    /* פרופלור */
    #btd2 {
        left: 67vw;
        top: 52vh;
    }
    /* אנטנות */
    #btc1 {
        left: 7vw;
        top: -21vh;
    }
    /* מחזיק טאבלט */
    #btc8 {
        left: -20vw;
        top: 14vh;
    }
    /* כפתור חזרה הביתה */
    #btc6 {
        left: -14vw;
        top: -7vh;
    }
    /* כפתור הדלקה */
    #btc2 {
        left: 13vw;
        top: -7vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 48vw;
        top: 63vh;
    }
}

@media screen and (max-width: 860px) {
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 36vh;
    }
    /* אנטנות */
    #btc1 {
        left: 7vw;
        top: -19vh;
    }
    /* מחזיק טאבלט */
    #btc8 {
        left: -20vw;
        top: 12vh;
    }
    /* כפתור שחור */
    #btc4 {
        position: absolute;
        left: 5vw;
        top: -3vh;
    }
    /* כפתור אדום */
    #btc5 {
        position: absolute;
        left: -8vw;
        top: -3vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 48vw;
        top: 61vh;
    }
    .custom-btn {
        top: 68vh;
    }
    #next {
        top: 70vh;
    }
}

@media screen and (max-width: 760px) {
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 37vh;
    }
    /* פרופלור */
    #btd2 {
        left: 67vw;
        top: 50vh;
    }
    /* מנועים */
    #btd1 {
        left: 19vw;
        top: 49vh;
    }
    /* מצלמה */
    #btd5 {
        left: 45vw;
        top: 55vh;
    }
    /* חיישנים */
    #btd4 {
        left: 20vw;
        top: 57vh;
    }
    /* עיגול למעלה */
    #btd7 {
        left: 49vw;
        top: 42vh;
    }
    /* אנטנות */
    #btc1 {
        left: 7vw;
        top: -17vh;
    }
    /* מחזיק טאבלט */
    #btc8 {
        left: -20vw;
        top: 10vh;
    }
    /* כפתור חזרה הביתה */
    #btc6 {
        left: -14vw;
        top: -6vh;
    }
    /* כפתור הדלקה */
    #btc2 {
        left: 13vw;
        top: -6vh;
    }
    /* צד */
    #btc7 {
        left: -20vw;
        top: -5vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 47vw;
        top: 60vh;
    }
}

@media screen and (max-width: 680px) {
    /* למעלה */
    #btd8 {
        left: 49vw;
        top: 38vh;
    }
    /* פרופלור */
    #btd2 {
        left: 67vw;
        top: 49vh;
    }
    /* מנועים */
    #btd1 {
        left: 19vw;
        top: 48vh;
    }
    /* חיישנים */
    #btd4 {
        left: 20vw;
        top: 55vh;
    }
    /* led */
    #btd3 {
        left: 75vw;
        top: 52vh;
    }
    /* עיגולים */
    #btd6 {
        left: 54.5vw;
        top: 49%;
    }
    /* אנטנות */
    #btc1 {
        left: 7vw;
        top: -15vh;
    }
    /* מחזיק טאבלט */
    #btc8 {
        left: -20vw;
        top: 8vh;
    }
    /* צד */
    #btc7 {
        left: -21vw;
        top: -4vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 47vw;
        top: 58vh;
    }
}

@media screen and (max-width: 600px) {
    /* למעלה */
    #btd8 {
        left: 47vw;
        top: 39vh;
    }
    /* מנועים */
    #btd1 {
        left: 18vw;
        top: 48vh;
    }
    /* חיישנים */
    #btd4 {
        left: 19vw;
        top: 53vh;
    }
    /* led */
    #btd3 {
        left: 74vw;
        top: 51vh;
    }
    /* עיגולים */
    #btd6 {
        left: 53.5vw;
        top: 49%;
    }
    /* מצלמה */
    #btd5 {
        left: 45vw;
        top: 53vh;
    }
    /* אנטנות */
    #btc1 {
        left: 6vw;
        top: -14vh;
    }
    /* כפתור חזרה הביתה */
    #btc6 {
        left: -15vw;
        top: -5.5vh;
    }
    /* כפתור הדלקה */
    #btc2 {
        left: 12vw;
        top: -5.5vh;
    }
    /* גויסטיק */
    #btc3 {
        position: absolute;
        left: 11vw;
        top: -2vh;
    }
    /* רחפן למטה */
    #btd9 {
        position: absolute;
        left: 47vw;
        top: 57vh;
    }
}

@media screen and (max-width: 500px) {
    /* למעלה */
    #btd8 {
        left: 47vw;
        top: 39vh;
    }
    /* מנועים */
    #btd1 {
        left: 18vw;
        top: 47vh;
    }
    /* חיישנים */
    #btd4 {
        left: 19vw;
        top: 51vh;
    }
    /* led */
    #btd3 {
        left: 74vw;
        top: 50vh;
    }
    /* עיגולים */
    #btd6 {
        left: 53.5vw;
        top: 47.5%;
    }
    /* מצלמה */
    #btd5 {
        left: 43vw;
        top: 52vh;
    }
    /* אנטנות */
    #btc1 {
        left: 6vw;
        top: -11vh;
    }
    /* מחזיק טאבלט */
    #btc8 {
        left: -21vw;
        top: 5vh;
    }
    /* מסך */
    #btc9 {
        position: absolute;
        left: -2vw;
        top: -1vh;
    }
}