        #lomda {
            top: 5vh;
            left: 82vw;
            width: 13vw;
        }
        
        #questions {
            position: relative;
            left: 20vw;
            z-index: 999999;
            margin: 0;
            top: 2vh;
            font-size: 1vw;
            width: 60vw;
            height: 60vh;
            border-radius: 10px;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
            transition: all .2s ease;
            background-color: rgba(255, 255, 255, .7);
        }
        
        #qnum {
            font-size: 1.5vmax;
            text-align: right;
            margin: 1vw;
        }
        
        #qList {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 15%;
            bottom: 0%;
            background-color: rgba(255, 255, 255, 0.7);
        }
        
        .qc {
            border-radius: 10px 1px 1px 1px;
            text-align: center;
            cursor: pointer;
            font-size: 2.1vw;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
            position: relative;
            width: 9%;
            height: 100%;
            background-color: rgba(188, 188, 188, 0.7);
        }
        
        .answered {
            background-color: rgba(69, 69, 69, 0.7);
        }
        
        .current {
            background-color: rgba(255, 255, 255, 0.7) !important;
        }
        
        #answers {
            position: relative;
            top: 7vh;
            right: 7vw;
            font-size: 1.3vw;
        }
        
        .answer {
            text-align: right;
            cursor: pointer;
        }
        
        .answer:hover {
            color: rgb(156, 156, 156);
        }
        
        .pick {
            font-size: 1.9vw;
        }
        
        .chosen {
            color: rgb(195, 195, 195) !important;
        }
        
        #finished {
            display: none;
            position: absolute;
            width: 65vw;
            height: 70vh;
            left: 17.5vw;
            background-color: white;
            border-radius: 30px;
            top: 15vh;
            z-index: 999999;
            filter: drop-shadow(5px 10px 30px);
        }
        
        #inside {
            display: none;
            position: relative;
            width: 55vw;
            height: 50vh;
            left: 4vw;
            background-color: white;
            border: 1vw rgb(170, 196, 223);
            border-style: ridge;
            border-radius: 30px;
            top: 8vh;
        }
        
        .fh1 {
            position: relative;
            text-align: center;
            width: 100%;
            font-size: 2.5vw;
            direction: rtl;
        }
        
        .scorePos {
            color: green;
        }
        
        .scoreNeg {
            color: crimson;
        }
        
        #confirm {
            display: none;
            position: relative;
            width: 55vw;
            height: 50vh;
            left: 5vw;
            border-radius: 30px;
            top: 10vh;
        }
        
        #btnList {
            position: relative;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
        
        .confirmationButton {
            cursor: pointer;
            font-size: 2vw;
            width: 17vw;
            background-color: rgb(179, 201, 224);
            text-align: center;
            direction: rtl;
            border-radius: 20px;
            filter: drop-shadow(2px 3px 5px);
            transition: all .1s ease;
        }
        
        .confirmationButton:active {
            background-color: rgb(156, 181, 209);
            filter: drop-shadow(2px 2px 2px);
        }
        
        @media screen and (max-width: 1460px) {
            #send {
                top: 85vh;
            }
            #questions {
                top: 8vh;
                font-size: 2vh;
            }
            .answer,
            .pick {
                font-size: 2.8vh;
            }
            #qList {
                height: 12%;
            }
            #qnum,
            #questionCount {
                font-size: 2.5vh;
            }
            .btn-6>span {
                font-size: 1.8vh;
            }
            #lomda {
                width: 15vw;
                left: 80vw;
            }
        }
        
        @media screen and (max-width: 1200px) {
            #send {
                top: 85vh;
            }
            #questions {
                font-size: 1.8vh;
                width: 70vw;
                left: 15vw;
            }
            .answer,
            .pick {
                font-size: 2.8vh;
            }
            #qList {
                height: 10%;
            }
        }
        
        @media screen and (max-width: 1000px) {
            #questions {
                font-size: 1.8vh;
                width: 80vw;
                left: 10vw;
            }
            .answer,
            .pick {
                font-size: 2.8vh;
            }
            #qList {
                height: 10%;
            }
            #lomda {
                width: 20vw;
                left: 75vw;
            }
        }
        
        @media screen and (max-width: 800px) {
            #send {
                top: 83vh;
            }
            #questions {
                font-size: 1.8vh;
                height: 50vh;
                top: 15vh;
            }
            .answer,
            .pick {
                font-size: 2.4vh;
            }
            #qList {
                height: 10%;
            }
            #lomda {
                width: 26vw;
                left: 68vw;
            }
        }
        
        @media screen and (max-width: 700px) {
            #questions {
                font-size: 1.8vh;
                height: 45vh;
                top: 18vh;
            }
            .answer,
            .pick {
                font-size: 2vh;
            }
            #qList {
                height: 9%;
            }
        }
        
        @media screen and (max-width: 600px) {
            #questions {
                font-size: 1.5vh;
                height: 45vh;
                top: 18vh;
            }
            .answer,
            .pick {
                font-size: 2vh;
            }
            #qList {
                height: 10%;
            }
            #qnum,
            #questionCount {
                font-size: 2vh;
            }
            #lomda {
                width: 35vw;
                left: 55vw;
            }
        }
        
        @media (orientation: portrait) {
            #questions {
                font-size: 1.2vh;
                height: 30vh;
                top: 25vh;
            }
            #answers {
                top: 4vh;
            }
            .answer,
            .pick {
                font-size: 1.5vh;
            }
            #qnum,
            #questionCount {
                font-size: 1.7vh;
            }
            #lomda {
                width: 40vw;
                left: 50vw;
                height: 1vh;
                padding: 1.4vh 0 3.2vh 0;
            }
            #send {
                width: 40vw;
                left: 2vw;
                height: 1vh;
                padding: 1.4vh 0 3.2vh 0;
                top: 80vh;
            }
        }